.img-thumbnail {
    height: 220px;
    width: 220px;
}

.col-md-3 {
    width: 230px;
    height: 230px;
    padding: 0px;
    margin-left: 28px;
}

.col-xs-6 {
    width: 220px;
    height: 220px;
    padding: 0px;
    margin-left: 28px;
}