.img-thumbnail {
    height: 250px;
    width: 350px;
    margin-top: 3px;
}

.col-md-3 {
     padding-right: 0px; 
     padding-left: 0px; 
}

.container-mobile{
    display: flex;
    justify-content: center;
    align-items: center;
}